
<section>
  <h1>我在 GitHub 上的项目</h1>
  <ul id="gh_repos">
    <li>
      <a href="https://github.com/dualface/quick-cocos2d-x">quick-cocos2d-x</a>
      <p>基于 cocos2d-x 的手机游戏引擎及快速开发工具.</p>
    </li>
    <li>
      <a href="https://github.com/dualface/cocos2d-x-extensions">cocos2d-x-extensions</a>
      <p>为 cocos2d-x 扩展了 IAP、HTTP 访问、原生界面控件等功能。</p>
    </li>
    <li>
      <a href="https://github.com/dualface/luadocx">luadocx</a>
      <p>Lua 源代码文件文档生成工具。</p>
    </li>
  </ul>

  <a href="https://github.com/dualface">@dualface</a> on GitHub
</section>
