// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

//$sans: "Optima", sans-serif;
//$serif: "Baskerville", serif;
//$mono: "Courier", monospace;
//$heading-font-family: "Verdana", sans-serif;
//$header-title-font-family: "Futura", sans-serif;
//$header-subtitle-font-family: "Futura", sans-serif;

body {
    font-family: Helvetica, Verdana, sans !important;
    color: #333 !important;
    font-size: 16px !important;
    font-weight: normal !important;
}

pre {
    font-size: 14px !important;
}

.post{
    h1 {
        color: #333 !important;
        line-height: 50px !important;
        margin-top: 20px !important;
        font-weight: bold !important;
        font-size: 22px !important;
        margin-left: 200px;
        @media screen and (max-width: 800px){
            margin-left: 0;
        }
    }

    h2 {
        line-height: 50px !important;
        margin-top: 20px !important;
        font-weight: bold !important;
        font-size: 22px !important;
    }

    h3 {
        color: #333 !important;
        line-height: 30px !important;
        margin-top: 30px !important;
        font-weight: bold !important;
        font-size: 18px !important;
    }

    p em {
        font-weight: bold !important;
        font-style: normal !important;
        color: #B82555 !important;
    }

    p {
        line-height: 150% !important;
        margin-bottom: 20px !important;
    }

    h1 a {
        color: #333 !important;
    }
}
